@{
    // Check if session data exists
    var userId = Context.Session.GetString("UserId");
    var username = Context.Session.GetString("Username");
    var userRole = Context.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] Weblog Application</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        /* Custom styles */
        body {
            background-color: #888; /* Gray background color */
            color: #fff; /* White text color */
            font-family: 'Montserrat', sans-serif;
        }

        /* Navbar */
        .navbar {
            display: flex;
            height: 80px;
        }

        .navbar-brand {
            font-size: 24px;
        }

        .navbar-toggler-icon {
            color: white;
        }

        .navbar-nav .nav-link {
            font-size: 18px;
            margin-top: 10px;
        }

            .navbar-nav .nav-link:hover {
                color: #17a2b8 !important; /* Change hover color */
            }

        /* Notification */
        .notification {
            position: relative;
            margin: 10px 50px 10px 0;
        }

        #notificationCount {
            position: absolute;
            left: 30px;
        }

        #notificationList {
            position: absolute;
            right: -150px;
            top: 30px;
            display: none;
            background: #2d2d2d;
            height: 300px;
            overflow-y: scroll;
            width: 200px;
            z-index: 100;
        }

        #notificationIcon {
            margin-right: 20px;
            top: 10px;
        }

        /* Profile menu */
        .dropdown-item {
            color: white;
        }

            .dropdown-item:hover {
                background-color: #343a40 !important; /* Change hover background color */
                color: white !important;
            }

        /* Login and Signup buttons */
        .login-btn {
            /* width: 80%; */
            /* margin: 30px 0px 20px 0; */
        }

        .signup-btn {
            /* width: 100%;
            margin-bottom: 20px; */
        }
    </style>
</head>
<body>
    <script>
        $(document).ready(function () {
            if ("@userRole" == "Admin" && !window.location.href.endsWith("/blog"))
                $(".navbar").css("display", "none");
        });
    </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"style="height:80px;">
        <a class="navbar-brand" href="/blog">Weblog Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:flex">
            <div class=" text-white" style="font-size:25px">

                    <a class="nav-link text-white" href="/blog"> <i class=" text-white" aria-hidden="true"></i>Home</a>
            </div>
           
               
       

            @if (!string.IsNullOrEmpty(userId))
            {
                <!-- Alert list -->
                <div class="notification " style="position:relative;margin:10px 50px 10px 0" id="notification">
                    <div id="notificationCount" style="position:absolute;left:100px;"></div>
                    <div id="notificationList" class="list-group mt-3" style="position:absolute;right:-150px;top:30px;display:none; background:#2d2d2d;height:300px;overflow-y:scroll;width:200px;z-index:100"></div>
                    <button id="notificationIcon" class="btn btn-primary " style="margin-right:20px;top: 10px;">
                        @* <i class="fa fa-bell"></i> *@
                        Notification
                    </button>
                </div>
            }

            <!-- Profile menu -->
            @if (!string.IsNullOrEmpty(userId))
            {
                <div class="text-white" style = "display:flex; font-size:18px;">


                    <a class="dropdown-item" href="/user/editprofile" style="color:white;">@username's account</a>
                                <a class="dropdown-item" href="/user/editprofile"style = "color:white;">My Profile</a>
                                <a class="dropdown-item" href="/blog/manageblogs" id="manageBlogs"style ="color:white;" >My Blogs</a>
                                <form method="post" action="/user/deleteprofile" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
                                    <button type="submit" class="dropdown-item text-danger" style="background:none;border:none;cursor:pointer;">Delete Account</button>
                                </form>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/user/logout"style ="color:white;" >Logout</a>
                            
                       
                </div>
            }
            else
            {
                <div style="width:80%;margin:30px 0px 20px 0;" >
                    
                        <a class="nav-link btn btn-secondary text-white" href="/User/Login">Login</a>
                   
                </div>
                <div style = "width:100%">
                   
                        <a class="nav-link btn text-white bg-info mx-4" href="/user/signup">Signup</a>

                    </div>
            }
        </div>
    </nav>


    <div class="content">
        @RenderBody() <!-- This will render the content of other views within the layout -->
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
